<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace:名称空间
-->
<mapper namespace="com.sweet.order.mapper.OrderMapper">
    <select id="pageQuery" resultType="com.sweet.order.entity.vo.OrderVO"
            parameterType="com.sweet.order.entity.dto.OrdersPageDTO">
        select *
        from orders
        <where>
            <if test="order.beginTime != null">
                and order_time &gt; #{order.beginTime}
            </if>
            <if test="order.endTime != null">
                and order_time &lt; #{order.endTime}
            </if>
            <if test="order.number != null">
                and number like concat('%',#{order.number},'%')
            </if>
            <if test="order.status != null">
                and status = #{order.status}
            </if>
            <if test="order.phone != null">
                and phone like concat('%',#{order.phone},'%')
            </if>
        </where>
        order by order_time desc
    </select>
    <select id="countOrderByStatus" resultType="com.sweet.api.dto.OrderOverViewVO">
        select count(id) as allOrders,
        count(case when status = 6 then 1 end) as cancelledOrders,
        count(case when status = 5 then 1 end) as completedOrders,
        count(case when status = 3 then 1 end) as deliveredOrders,
        count(case when status = 2 then 1 end) as waitingOrders
        from orders
        <where>
            <if test="beginTime != null">
                and order_time &gt; #{beginTime}
            </if>
            <if test="endTime != null">
                and order_time &lt; #{endTime}
            </if>
        </where>
    </select>

    <select id="selectRiderOrderStat" resultType="com.sweet.order.entity.dto.RiderOrderStatDTO">
        SELECT
            delivery_employee_id AS riderId,

            -- 总订单数：已接单 / 派送中 / 已完成
            SUM(
                    CASE WHEN status IN (3,4,5) THEN 1 ELSE 0 END
            ) AS totalOrderCount,

            -- 有效订单数：已完成
            SUM(
                    CASE WHEN status = 5 THEN 1 ELSE 0 END
            ) AS validOrderCount

        FROM orders
        WHERE order_type = 1
          AND pay_status = 1
          AND delivery_employee_id IS NOT NULL
          AND order_time BETWEEN #{beginTime} AND #{endTime}

        GROUP BY delivery_employee_id
    </select>
    <select id="selectRiderSalaryStat" resultType="com.sweet.api.dto.RiderSalaryStatDTO">
        SELECT delivery_employee_id AS riderId,
               COUNT(*)             AS finishOrderCount
        FROM orders
        WHERE order_type = 1
          AND pay_status = 1
          AND status = 5
          AND delivery_employee_id IS NOT NULL
          AND order_time BETWEEN #{beginTime} AND #{endTime}
        GROUP BY delivery_employee_id
    </select>
</mapper>