<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace:名称空间
-->
<mapper namespace="com.sweet.coupon.mapper.CouponMapper">

    <select id="pageQuery" resultType="com.sweet.coupon.entity.vo.AdminCouponVO">
        select *
        from coupon
        <where>
            <if test="coupon.name != null and coupon.name != '' ">
                and name like concat('%',#{coupon.name},'%')
            </if>
            <if test="coupon.type != null">
                and type = #{coupon.type}
            </if>
            <if test="coupon.status != null">
                and type = #{coupon.status}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>